{{ define "footer" }}
<footer
  class="text-sm inset-shadow-2xs text-white bg-gradient-to-b from-violet-800/30 dark:from-violet-900 dark:via-violet-700 via-violet-800/60 dark:to-violet-400 to-violet-800"
>
  <div class="p-16 bg-[url(/img/noise.png)]">
    <section class="container mx-auto max-w-5xl">
      <div class="flex justify-between">
        <div class="flex-col text-center inline-flex">
          <a href="/" aria-label="Home">
            <img
              src="/img/man-on-box-circle.svg"
              alt="github profile"
              class="w-20 h-20 mb-2"
            />
          </a>
          <span class="font-bold">Man on Box</span>
        </div>
        <div class="sm:flex sm:ml-10 sm:grow justify-between">
          <div class="flex sm:flex-col gap-2 mb-5">
            {{ range .Socials }}
            <a
              href="{{ .Link.Url }}"
              aria-label="{{ .Link.Label }}"
              target="_blank"
            >
              <img src="{{ .Img }}" alt="{{ .Alt }}" class="w-10 h-10" />
            </a>
            {{ end }}
          </div>
          <div class="flex flex-col gap-2">
            {{ range .Links }}

            <a class="hover:underline font-bold" href="{{ .Url }}"
              >{{ .Label }}</a
            >
            {{ end }}
          </div>
        </div>
      </div>
      <div class="my-10">{{ template "divider-white" }}</div>
      <div
        class="text-center flex flex-col gap-2 md:flex-row-reverse md:justify-between"
      >
        <a href="https://litepage.dev" target="_blank" class="hover:underline"
          >Site built with Litepage</a
        >
        <p>© {{ currentYear }} · Man on Box Portfolio</p>
      </div>
    </section>
  </div>
</footer>
{{ end }}
