{{ define "head"}}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content="{{ .Title }}" />
  <meta name="description" content="{{ .Desc }}" />
  <meta name="image" content="{{ .Social }}" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .PageUrl }}" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Desc }}" />
  <meta property="og:image" content="{{ .Social }}" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ .PageUrl }}" />
  <meta property="twitter:title" content="{{ .Title }}" />
  <meta property="twitter:description" content="{{ .Desc }}" />
  <meta property="twitter:image" content="{{ .Social }}" />

  <link href="/main.css" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
    rel="stylesheet"
  />
  <script defer src="/main.js"></script>
  <title>{{.Title}}</title>
</head>
{{ end }}
