{{ define "nav-menu" }}
<nav
  id="nav-menu"
  aria-hidden="true"
  class="hidden bg-slate-950/90 text-slate-50 backdrop-blur z-10 border-b fixed w-svw p-20 text-2xl"
>
  <div class="mx-auto flex gap-20">
    <img
      src="/img/man-on-box-circle.svg"
      alt="Man on box"
      class="hidden md:block"
      aria-hidden="true"
    />
    <div class="flex flex-col gap-8 border-l-2 border-l-slate-700 pl-5">
      {{ range .Links }}

      <a
        class="hover:underline decoration-pink-500 font-bold"
        tabindex="-1"
        href="{{ .Url }}"
      >
        {{ .Label }}
      </a>
      {{ end }}
      <div class="flex gap-3">
        {{ range .Socials}}
        <a
          href="{{ .Link.Url }}"
          aria-label="{{ .Link.Label }}"
          target="_blank"
          tabindex="-1"
        >
          <img
            src="{{ .Img }}"
            alt="{{ .Alt }}"
            class="w-8 h-8 opacity-85 hover:opacity-100"
          />
        </a>

        {{ end }}
      </div>
    </div>
  </div>
</nav>

<div class="flex gap-4 fixed z-10 top-5 right-5 lg:right-20 2xl:right-36">
  <button
    id="dark-toggle"
    title="Toggle light/dark mode"
    aria-label="Toggle light/dark mode"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      aria-hidden="true"
      data-slot="icon"
      class="size-6 md:size-7 transition stroke-gray-500 hover:stroke-pink-500 hover:scale-105"
    >
      <path
        class="dark:hidden"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
      ></path>
      <path
        class="dark:inline hidden"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
      ></path>
    </svg>
  </button>
  <button
    id="nav-btn"
    type="button"
    title="Toggle navigation menu"
    aria-label="Toggle navigation menu"
    aria-expanded="false"
    class="bg-slate-950 hover:bg-pink-600 hover:scale-105 transition cursor-pointer h-10 md:h-14 w-10 md:w-14 rounded flex justify-center items-center"
  >
    <div class="flex flex-col gap-1 w-6">
      <span class="block h-1 bg-slate-50 rounded"></span>
      <span class="block h-1 bg-slate-50 rounded"></span>
      <span class="block h-1 bg-slate-50 rounded"></span>
    </div>
  </button>
</div>
{{ end }}
