{{ block "body" .}}
<div class="bg-slate-950 text-slate-50 p-16">
  <section class="container mx-auto">
    <div class="flex gap-10 flex-col md:flex-row max-w-prose mx-auto">
      <img
        src="/img/man-on-box-circle.svg"
        alt="Man on box"
        class="justify-self-end max-h-52"
      />
      <div class="text-center md:text-left">
        <h1 class="text-5xl font-bold my-8">Hey, I'm Oli 👋</h1>
        <h2 class="text-2xl my-8">
          user-centric and product-focused software engineer
        </h2>
      </div>
    </div>
  </section>
</div>
<div class="bg-slate-50 text-slate-950 p-16">
  <section class="container mx-auto max-w-prose">
    <p class="text-xl mb-8">
      <strong>Nice to meet you.</strong> I'm a passionate, user-centric,
      product-focused software engineer specializing in frontend development.
    </p>
    <p class="text-xl">
      I'm currently working at
      <a class="underline" href="https://adevinta.com/" target="_blank"
        >Adevinta</a
      >
      as a Lead Frontend Engineer, building the UI and data visualization tools
      for their experimentation platform.
    </p>
  </section>
</div>
{{ end }}
