{{ define "page-article" }}
<!doctype html>
<html lang="en" class="scroll-smooth">
  {{ template "head" .PageData.Head}}
  <body
    class="antialiased bg-violet-50 dark:bg-violet-900 transition text-slate-800 dark:text-slate-200"
  >
    <!-- nav -->
    {{ template "nav-menu" .PageData.NavMenu }}
    <!-- gradient -->
    {{ template "page-top-gradient" }}
    <main>
      <div class="pt-6 md:pt-8 pb-16 px-6 sm:px-16">
        <section
          class="container mx-auto max-w-prose prose dark:prose-invert prose-xl"
        >
          <a
            class="inline-flex mb-16 mt-0 items-center gap-3 font-bold no-underline transition decoration-pink-500 hover:underline hover:scale-105"
            href="/"
          >
            <img
              src="/img/man-on-box-circle.svg"
              height="40"
              width="40"
              alt="Man on box"
              class="m-0"
              aria-hidden="true"
            />
            <span>More from Oli 👋</span>
          </a>
          <article>
            <h1 class="mb-2 tracking-tight">{{ .Article.Title }}</h1>
            <span class="text-sm">
              📆 {{ .Article.Published }} ⌛ {{ .Article.ReadTime}}
            </span>
            {{ if .Article.SyndicateUrl }}
            <p class="text-sm">
              Published at
              <a target="_blank" href="{{ .Article.SyndicateUrl}}">
                {{ .Article.SyndicateUrl }}
              </a>
            </p>
            {{ end }}
            <p><i>{{ .Article.Desc }}</i></p>
            <img
              src="{{ .Article.Img }}"
              aria-hidden="true"
              alt="Article cover"
            />
            {{ .Article.Content }}
          </article>
          <script
            src="https://utteranc.es/client.js"
            repo="man-on-box/man-on-box.github.io"
            issue-term="pathname"
            label="comment"
            theme="github-light"
            crossorigin="anonymous"
            async
          ></script>
        </section>
      </div>
    </main>
    {{ template "footer" .PageData.Footer }}
  </body>
</html>
{{ end }}
