{{ define "header" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{ .Title }}" />
    <meta name="image" content="https://man-on-box.github.io/img/social.png" />
    <meta name="description" content="{{ .Desc }}" />
    <link href="/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>{{.Title}}</title>
  </head>
  <body class="antialiased">
    {{ template "nav" .}} {{ end }}

    <!-- .. -->
    {{ define "footer" }}
    <footer class="bg-slate-800 text-slate-400 text-sm p-16">
      <section class="container mx-auto max-w-5xl">
        <div class="flex justify-between">
          <div class="flex-col text-center inline-flex">
            <img
              src="/img/man-on-box-circle.svg"
              alt="github profile"
              class="w-20 h-20 mb-2"
            />
            <span class="text-white font-bold">Man on Box</span>
          </div>
          <div class="sm:flex sm:ml-10 sm:grow justify-between">
            <div class="flex sm:flex-col gap-2 mb-5">
              {{ range .Socials }}
              <a
                href="{{ .Link.Url }}"
                aria-label="{{ .Link.Label }}"
                target="_blank"
              >
                <img
                  src="{{ .Img }}"
                  alt="{{ .Alt }}"
                  class="w-10 h-10 opacity-85 hover:opacity-100"
                />
              </a>
              {{ end }}
            </div>
            <div class="flex flex-col gap-2">
              {{ range .Nav }}

              <a
                class="nav-link hover:underline hover:text-white font-bold"
                href="{{ .Url }}"
                >{{ .Label }}</a
              >
              {{ end }}
            </div>
          </div>
        </div>
        <hr class="my-10" />
        <div
          class="text-center flex flex-col gap-2 md:flex-row-reverse md:justify-between"
        >
          <a
            href="https://github.com/man-on-box/man-on-box.github.io"
            target="_blank"
            class="hover:underline hover:text-white"
            >Site built with Go & Tailwind</a
          >
          <p>© {{currentYear}} · Man on Box Portfolio</p>
        </div>
      </section>
    </footer>
  </body>
</html>
{{ end }}
