{{ define "header" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{ .Title }}" />
    <meta name="image" content="https://man-on-box.github.io/img/social.png" />
    <meta name="description" content="{{ .Desc }}" />
    <link href="/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>{{.Title}}</title>
  </head>
  <body>
    {{ template "nav" .Nav}} {{ end }}

    <!-- .. -->
    {{ define "footer" }}
    <div class="bg-slate-800 text-slate-300 text-sm p-16">
      <section class="container mx-auto text-right">
        <p>Site built with Go & Tailwind</p>
        <p>© {{currentYear}} Man on Box Portfolio. All rights reserved.</p>
      </section>
    </div>
  </body>
</html>
{{ end }}
