{{ define "hero" }}
<div class="bg-slate-950 text-slate-50 p-16">
  <section class="container mx-auto">
    <div class="flex gap-10 flex-col md:flex-row max-w-prose mx-auto">
      <img
        src="/img/man-on-box-circle.svg"
        alt="Man on box"
        class="justify-self-end max-h-52"
      />
      <div class="text-center md:text-left">
        <h1 class="text-5xl font-bold my-8">Hey, I'm Oli 👋</h1>
        <h2 class="text-2xl my-8">
          user-centric and product-focused software engineer
        </h2>
      </div>
    </div>
  </section>
</div>
{{ end}}
