{{ define "homepage" }}
<!doctype html>
<html lang="en">
  {{ template "head" .Head}}
  <body class="scroll-smooth antialiased">
    {{ template "nav-menu" .NavMenu }} {{ template "hero" }}
    <div class="bg-slate-50 dark:bg-slate-900 p-16">
      <section
        class="container mx-auto max-w-prose prose dark:prose-invert prose-xl"
      >
        {{ .Content }}
      </section>
    </div>
    <div id="skills" class="bg-slate-950 p-16 overflow-hidden">
      <section
        class="container mx-auto max-w-5xl overflow-visible prose prose-invert prose-xl"
      >
        <h2>Skills</h2>
        <p>These are not exhaustive lists, but give an idea of my profile.</p>
        {{ range .Skills}} {{ $color := .Color }}

        <h3>{{ .Title }}</h3>
        <div
          class="flex lg:flex-wrap pb-10 lg:overflow-visible lg:w-full w-screen pr-36 lg:pr-0 overflow-x-auto snap-x gap-4"
        >
          {{ range .Items }}
          <div
            class="flex-none border-2 border-{{ $color }}-800 hover:border-{{ $color }}-500 shadow-2xl shadow-{{ $color }}-800/60 hover:shadow-{{ $color }}-800 lg:hover:scale-105 transition text-white text-center w-40 rounded-sm px-4 py-6 snap-start scroll-m-6"
          >
            <span
              class="block text-{{ $color }}-600 font-bold mb-8 text-3xl"
              aria-hidden="true"
              >{{ .Badge }}</span
            >
            <span class="text-xl">{{ .Label }}</span>
          </div>

          {{ end }}
        </div>

        {{ end }}
      </section>
    </div>
    <div id="experience" class="bg-slate-50 dark:bg-slate-900 p-16">
      <section
        class="container mx-auto max-w-prose dark:prose-invert prose prose-xl"
      >
        <h2>Experience</h2>
        {{ range .Experience }}
        <h3 class="mb-0">{{ .Title }}</h3>
        <p class="m-0">{{ .Company }}</p>
        <p class="m-0 text-sm">{{ .Date }}</p>
        <p class="m-0 text-sm">{{ .Location }}</p>
        {{ range .Description }}
        <p>{{ . }}</p>
        {{ end }}
        <hr />
        {{ end }} {{ template "contact" .Contact}}
      </section>
    </div>
    {{ template "footer" .Footer }}
  </body>
</html>
{{ end }}
