package view

templ Index() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/main.css" rel="stylesheet"/>
			<title>Man on Box</title>
		</head>
		<body>
			<h1 class="text-center text-3xl font-bold my-8">Man on box</h1>
			<p class="text-center">Hello there.</p>
		</body>
	</html>
}
