{{ define "page-index" }}
<!doctype html>
<html lang="en" class="scroll-smooth">
  {{ template "head" .PageData.Head}}
  <body class="antialiased">
    {{ template "nav-menu" .PageData.NavMenu }} {{ template "hero" }}
    <div class="bg-slate-50 dark:bg-slate-900 transition py-16 px-6 sm:px-16">
      <section
        class="container mx-auto max-w-prose prose dark:prose-invert prose-xl"
      >
        {{ .Content }}
        <hr />
        <p id="articles" class="font-bold">Latest articles</p>
        {{ range .Articles }}

        <a
          class="block border-2 rounded-sm p-5 no-underline hover:underline transition hover:scale-105 hover:border-pink-500"
          href="/articles/{{ .Slug }}.html"
        >
          <span class="font-bold block text-2xl mb-2">{{ .Title }}</span>
          <small class="block text-sm">
            📆 {{ .Published }} ⌛ {{ .ReadTime}}
          </small>
        </a>
        {{ end }}
      </section>
    </div>
    <div id="skills" class="bg-slate-950 py-16 px-6 sm:px-16 overflow-hidden">
      <section
        class="container mx-auto max-w-5xl overflow-visible prose prose-invert prose-xl"
      >
        <h2>Skills</h2>
        <p>These are not exhaustive lists, but give an idea of my profile.</p>
        {{ range .Skills}} {{ $boxClasses := .BoxClasses }} {{ $badgeClasses:=
        .BadgeClasses }}
        <h3>{{ .Title }}</h3>
        <div
          class="flex lg:flex-wrap pb-10 lg:overflow-visible lg:w-full w-screen pr-36 lg:pr-0 overflow-x-auto snap-x gap-4"
        >
          {{ range .Items }}
          <div data-fade-in>
            <div
              class="{{ $boxClasses }} h-full border-2 shadow-2xl lg:hover:scale-105 transition text-white text-center w-40 rounded-xs px-4 py-6 snap-start scroll-m-6"
            >
              <span
                class="{{ $badgeClasses }} block font-bold mb-8 text-3xl"
                aria-hidden="true"
              >
                {{ .Badge }}
              </span>
              <span class="text-xl tracking-tight">{{ .Label }}</span>
            </div>
          </div>
          {{ end }}
        </div>

        {{ end }}
      </section>
    </div>
    <div
      id="experience"
      class="bg-slate-50 dark:bg-slate-900 transition py-16 px-6 sm:px-16"
    >
      <section
        class="container mx-auto max-w-prose dark:prose-invert prose prose-xl"
      >
        <h2>Experience</h2>
        {{ range .Experience }}
        <div class="md:border-l-4 border-pink-500 md:pl-6">
          <h3 class="mb-0">{{ .Title }}</h3>
          <p class="m-0">{{ .Company }}</p>
          <p class="m-0 text-sm">{{ .Date }}</p>
          <p class="m-0 text-sm">{{ .Location }}</p>
          {{ range .Description }}
          <p>{{ . }}</p>
          {{ end }}
        </div>
        <hr />
        {{ end }} {{ template "contact" .PageData.Contact}}
      </section>
    </div>
    {{ template "footer" .PageData.Footer }}
  </body>
</html>
{{ end }}
